.about-navbar {
  > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    > li {
      > a {
        border-bottom: 1px solid;

        display: block;

        padding: 8px 16px;
      }
    }
  }
}
